* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
}

.bg {
    background-image: linear-gradient(rgba(0,0,0, .8), rgba(0,0,0, .8)), url('../../media_files/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#myname {
    font-size: 60px;
}

#hello {
    border-radius: 20px 20px 20px 0px;
    min-width: 120px;
}

.hr-underline {
    width: 55px;
    border-top: 3px solid #6c757d;
}

.col-title {
    cursor: pointer;
}

.col-title:hover > .hr-underline {
    width: 170px;
    border-top: 3px solid #ffc107;
    transition: .3s;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    transition: .3s;
}